@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url("https://img.freepik.com/free-vector/celebration-confetti-with-podium-platform-white-background_1017-32928.jpg?w=1060&t=st=1682167994~exp=1682168594~hmac=7ab8cd91587fec34a954501ea7650692855f7a4c8212ff793cd806677a00962d");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  max-width: 500px;
  background: linear-gradient(135deg, #389479, #8E19ED, #d2427c)
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::placeholder {
  -webkit-appearance: none;
  color: #dadada;
}

.form-control:focus,
.form-control:active {
  box-shadow: 0 0 0 0 #FFF;
}